.git
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.DS_Store
.idea
.vscode
.phpunit.cache
*.log
docker-compose*.yml
